:root {
  --dark: black;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/*Styles the header*/
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/*Formatting for user text input*/
.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/*Style and formatting for all the hours*/
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/*Changes timeblock to color gray*/
.past {
  background-color: #d3d3d3;
  color: var(--dark);
}

/*Changes timeblock to color red*/
.present {
  background-color: #ff6961;
  color: var(--dark);
}

/*Change timeblock to color green*/
.future {
  background-color: #77dd77;
  color: var(--dark);
}

/*Styling for save button*/
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

/*Effect for button icon*/
.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/*Changes color of button icon*/
.saveBtn:hover {
  color: black;
}
